.table,
.table th,
.table td {
  border: 2px solid rgb(var(--card-border-rgb));
  border-collapse: collapse;
  padding: 5px;
}

.table {
  width: 100%;
}

.table input {
  padding: 5px;
  background-color: transparent;
  border: none;
}

.roster p {
  margin-bottom: 10px;
}

.rosterButtons {
  display: flex;
  gap: 10px;
}

.tableContainer {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 50vh;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.delete {
  cursor: pointer;
  padding: 4px;
  background-color: var(--danger);
  color: white;
  margin-right: 10px;
}

.raceList ul {
  list-style-type: none;
  text-decoration: underline;
}
