.body {
  text-align: center;
  font-family: verdana;
  color: black;
  width: 100%;
}
.thead {
  border-bottom: 2px solid rgb(59, 59, 59);
  text-align: left;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.tbody {
  text-align: left;

  width: 100%;
}
.header {
  border-bottom: 2px solid rgb(59, 59, 59);
  border-top: 2px solid rgb(59, 59, 59);
  margin-top: 35px;
  margin-bottom: 15px;
}
.h4 {
  margin: 1px;
}
.sectionHeader {
  text-align: left;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
}
